{% extends "plantilla/base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %}

<h1 class="text-center">Nosotros</h1>

<img src="../../static/sitioweb/img/Quienes somos.jpeg" alt="Imagen" class="rounded mx-auto d-block" height="350px">
<div class="container px-5">
    <p class="fs-5"> Nos caracterizamos por ser una empresa que se esfuerza por cumplir los intereses de nuestros consumidores además contamos con un equipo de trabajo de cuatro personas que son Andrés Hernández, Jorge Gomes, María Camila Luna y María Restrepo las cuales entregan su dedicación y los máximos esfuerzos a mejorar día a día el negocio ya que nuestro objetivo es siempre crear productos biodegradables para que nuestras mascotas cuenten con el mejor cuidado y bienestar posible</p>
</div>


{% endblock %}